.categoryPage {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    position: relative;
    min-height: 475px;
    @include media-breakpoint-up(xs) {
        padding: 140px 15px 25px 15px;
    }
    @include media-breakpoint-up(sm) {
        padding: 100px 15px 25px 15px;
    }
    @include media-breakpoint-up(lg) {
        padding: 105px 50px 0px;
    }
    h1 {
        text-align: left;
        font-weight: 400;
        @include media-breakpoint-up(xs) {
            font-size: 1.6rem;
            text-align: center;
            margin-bottom: 25px;
        }
        @include media-breakpoint-up(md) {
            text-align: left;
            margin-bottom: 50px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 2rem;
        }
    }
}