.spinner-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0;
    z-index: 2;
    .lds-dual-ring {
        position: absolute;
        top: calc(50% - 23px);
        left: calc(50% - 23px);
        display: inline-block;
        width: 46px;
        height: 46px;
        &:after {
            content: " ";
            display: block;
            width: 46px;
            height: 46px;
            margin: 1px;
            border-radius: 50%;
            border: 5px solid #777;
            border-color: #777 transparent #777 transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
    }
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}