.itemWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    @include media-breakpoint-up(xs) {
        height: initial;
        padding-bottom: 50px;
    }
    @include media-breakpoint-up(md) {
        height: 450px;
        padding-bottom: 0px;
    }
    &:hover {
        cursor: pointer;
    }
    h3 {
        font-size: 1.35rem;
        max-width: 100%;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: left;
        margin-bottom: 0;
        word-break: break-word;
        font-weight: 400;
        @include media-breakpoint-up(xs) {
            text-overflow: initial;
            display: block;
            -webkit-line-clamp: initial;
        }
        @include media-breakpoint-up(sm) {
            text-overflow: ellipsis;
            min-height: 75px;
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 3;
        }
    }
    img {
        width: 100%;
        margin: 15px 0;
        word-break: break-all;
        border-radius: 3px;
        @include media-breakpoint-up(xs) {
            height: 145px;
        }
        @include media-breakpoint-up(md) {
            height: 100px;
        }
        @include media-breakpoint-up(xl) {
            height: 175px;
        }
    }
    p {
        max-width: 100%;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.2;
        font-size: 1.1rem;
        text-align: left;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        display: block;
        display: -webkit-box;
        min-height: 85px;
        @include media-breakpoint-up(xs) {
            text-overflow: initial;
            min-height: initial;
            display: block;
        }
        @include media-breakpoint-up(sm) {
            text-overflow: ellipsis;
            min-height: 85px;
            -webkit-line-clamp: 4;
            display: block;
            display: -webkit-box;
        }
    }
    span {
        font-weight: 500;
        right: 15px;
        @include media-breakpoint-up(xs) {
            position: static;
        }
        @include media-breakpoint-up(md) {
            position: absolute;
            bottom: 20px;
        }
        @include media-breakpoint-up(xl) {
            position: absolute;
            bottom: 40px;
        }
    }
}