#footer {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    text-align: center;
    padding: 15px 0;
    #scrollToTopBtn {
        background: transparent;
        border: 0px none;
        display: inline-block;
        &:active,
        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
        }
    }
}