.search {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    position: relative;
    min-height: 475px;
    @include media-breakpoint-up(xs) {
        padding: 112px 15px 25px 15px;
    }
    @include media-breakpoint-up(sm) {
        padding: 55px 15px 25px 15px;
    }
    @include media-breakpoint-up(lg) {
        padding: 55px 50px 0px;
    }
    h1 {
        text-align: left;
        font-weight: 400;
        @include media-breakpoint-up(xs) {
            font-size: 1.6rem;
            text-align: center;
            margin-bottom: 25px;
        }
        @include media-breakpoint-up(md) {
            text-align: left;
            margin-bottom: 10px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 2rem;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        position: fixed;
        background: #fff;
        z-index: 1;
        @include media-breakpoint-up(xs) {
            width: calc(100% - 62px);
            padding: 30px 0;
        }
        @include media-breakpoint-up(lg) {
            width: calc(1200px - 132px);
            padding: 50px 0;
        }
        input {
            padding: 10px 15px;
            &:active,
            &:focus {
                outline: none;
            }
        }
    }
    .searchItemsWrap {
        position: relative;
        margin-top: 200px;
    }
}