.sliderWrap {
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(xs) {
        margin-bottom: 25px;
    }
    @include media-breakpoint-up(md) {
        margin-bottom: 0px;
    }
    .collapsed,
    .expanded {
        transition: .3s;
    }
    .carousel {
        margin-left: -15px;
        margin-right: -15px;
    }
    .catSliderWrap {
        margin-left: -10px;
        margin-right: -10px;
        width: calc(100% + 20px);
    }
    .slideWrap {
        @include media-breakpoint-up(xs) {
            min-height: initial;
            padding-right: 0px;
        }
        @include media-breakpoint-up(sm) {
            min-height: 400px;
            padding-right: 8px;
        }
        @include media-breakpoint-up(lg) {
            min-height: 450px;
        }
        &:hover {
            cursor: pointer;
        }
        .carousel__inner-slide {
            display: inline-block;
            padding-right: 15px;
            padding-left: 15px;
        }
        h3 {
            font-size: 1.35rem;
            max-width: 100%;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-align: left;
            margin-bottom: 0;
            word-break: break-word;
            font-weight: 400;
            @include media-breakpoint-up(xs) {
                text-overflow: initial;
                display: block;
                -webkit-line-clamp: initial;
            }
            @include media-breakpoint-up(sm) {
                text-overflow: ellipsis;
                min-height: 75px;
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 3;
            }
        }
        img {
            width: 100%;
            margin: 15px 0;
            word-break: break-all;
            border-radius: 3px;
            @include media-breakpoint-up(xs) {
                height: 145px;
            }
            @include media-breakpoint-up(sm) {
                height: 105px;
            }
            @include media-breakpoint-up(md) {
                height: 100px;
            }
            @include media-breakpoint-up(xl) {
                height: 175px;
            }
        }
        p {
            max-width: 100%;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 1.2;
            font-size: 1.1rem;
            text-align: left;
            text-overflow: ellipsis;
            -webkit-line-clamp: 4;
            display: block;
            display: -webkit-box;
            min-height: 85px;
            @include media-breakpoint-up(xs) {
                text-overflow: initial;
                min-height: initial;
                display: block;
            }
            @include media-breakpoint-up(sm) {
                text-overflow: ellipsis;
                min-height: 85px;
                -webkit-line-clamp: 4;
                display: block;
                display: -webkit-box;
            }
        }
        span {
            font-weight: 500;
            right: 15px;
            @include media-breakpoint-up(xs) {
                position: static;
            }
            @include media-breakpoint-up(md) {
                position: absolute;
                bottom: 20px;
            }
            @include media-breakpoint-up(xl) {
                position: absolute;
                bottom: 40px;
            }
        }
    }
    .buttons-wrap {
        .carousel__back-button {
            background: transparent;
            position: absolute;
            border: 0px none;
            transform: rotate(135deg);
            &:active,
            &:focus {
                outline: 0px none;
            }
            @include media-breakpoint-up(xs) {
                left: 15px;
                top: calc(50% - 20px);
            }
            @include media-breakpoint-up(md) {
                left: -30px;
                top: calc(50% - 10px);
            }
        }
        .carousel__next-button {
            background: transparent;
            position: absolute;
            border: 0px none;
            transform: rotate(-45deg);
            display: block;
            &:active,
            &:focus {
                outline: 0px none;
            }
            @include media-breakpoint-up(xs) {
                right: 15px;
                top: calc(50% - 20px);
            }
            @include media-breakpoint-up(md) {
                right: -30px;
                top: calc(50% - 10px);
            }
        }
        span {
            padding: 10px;
            display: inline-block;
            @include media-breakpoint-up(xs) {
                border: solid #000;
                border-width: 0 5px 5px 0;
            }
            @include media-breakpoint-up(md) {
                border: solid #4C4C4C;
                border-width: 0 5px 5px 0;
            }
        }
    }
}