.article {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    text-align: left;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(xs) {
        padding: 140px 15px 25px 15px;
    }
    @include media-breakpoint-up(sm) {
        padding: 100px 15px 25px 15px;
    }
    @include media-breakpoint-up(lg) {
        padding: 105px 50px 25px;
    }
    h1 {
        text-align: left;
        word-break: break-word;
        font-weight: 400;
        @include media-breakpoint-up(xs) {
            font-size: 1.6rem;
            text-align: center;
            margin-bottom: 25px;
            order: 2;
        }
        @include media-breakpoint-up(md) {
            order: 1;
        }
        @include media-breakpoint-up(md) {
            text-align: left;
            margin-bottom: 50px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 2rem;
        }
    }
    img {
        @include media-breakpoint-up(xs) {
            max-width: 100%;
            margin-bottom: 25px;
            order: 3;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 50px;
            max-width: 250px;
            order: 2;
        }
    }
    p {
        @include media-breakpoint-up(xs) {
            order: 4;
        }
        @include media-breakpoint-up(md) {
            order: 3;
        }
    }
}