/* BOOTSTRAP 4 */
@import '~bootstrap/scss/bootstrap.scss';

/* COMPONENTS/PAGES */
@import "../components/nav/nav";
@import "../components/topNews/topNews";
@import "../components/categories/categories";
@import "../components/categories/category";
@import "../components/search/search";
@import "../components/footer/footer";
@import "../partials/article/article";
@import "../partials/item/item";
@import "../partials/back/back";
@import "../partials/slider/slider";
@import "../partials/loader/loader";

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html, body {
  min-height: 100%;
}
#root {
  min-height: 100%;
  touch-action: manipulation;
}
body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  max-width: 1200px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently  supported by Chrome, Opera and Firefox */
}
.hidden {
  display: none !important;
}
.loadMore {
  margin-top: 50px;
  background: #777;
  color: #fff;
  border: 0px none;
  padding: 12px 15px;
  &:active,
  &:focus {
    outline: none;
  }
}
.App {
  text-align: center;
  min-height: 100%;
}
