.backBtn {
    background: transparent;
    border: 0px none;
    padding: 10px 0;
    text-align: left;
    position: relative;
    &:active,
    &:focus {
        outline: none;
    }
    @include media-breakpoint-up(xs) {
        order: 1;
        top: -10px;
    }
    @include media-breakpoint-up(md) {
        order: 4;
        top: initial;
    }
}