#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    z-index: 2;
    background: #fff;
    height: auto;
    position: fixed;
    @include media-breakpoint-up(xs) {
        width: calc(100% - 30px);
        flex-direction: column;
    }
    @include media-breakpoint-up(sm) {
        flex-direction: row;
        height: 55px;
    }
    @include media-breakpoint-up(md) {
        max-width: calc(1200px - 30px);
    }
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        @include media-breakpoint-up(xs) {
            height: auto;
            width: 100%;
        }
        @include media-breakpoint-up(md) {
            flex-direction: row;
            height: 55px;
            width: auto;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        display: flex;
        height: 55px;
        align-items: center;
        color: #000;
        @include media-breakpoint-up(xs) {
            border-right: 0px none;
            width: 100%;
        }
        @include media-breakpoint-up(md) {
            border-right: 1px solid #000;
            width: auto;
        }
        &.active {
            background: #777777;
            color: #fff;
        }
        &:hover {
            text-decoration: none;
        }
        li {
            @include media-breakpoint-up(xs) {
                width: 100%;
                padding: 0 5px;
            }
            @include media-breakpoint-up(md) {
                width: auto;
                padding: 0 20px;
            }
        }
    }
    #langWrap {
        display: flex;
        flex-direction: row;
        @include media-breakpoint-up(xs) {
            width: 100%;
        }
        @include media-breakpoint-up(md) {
            width: auto;
        }
        label {
            display: flex;
            align-items: center;
            height: 55px;
            margin-bottom: 0;
            padding: 0 20px;
            @include media-breakpoint-up(xs) {
                border-left: 0px none;
                width: 50%;
                justify-content: center;
            }
            @include media-breakpoint-up(md) {
                border-left: 1px solid #000;
                width: auto;
            }
            &:hover {
                cursor: pointer;
            }
            &.active {
                background: #777777;
                color: #fff;
            }
            &.disabled {
                background: #fa6146;
                color: #fff;
                &:hover {
                    cursor: not-allowed;
                }
            }
            input {
                display: none;
            }
            span {
                text-transform: uppercase;
            }
        }
    }
}